*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    margin: 4rem;
}
.intro-content{
    background: rgb(187, 18, 18);
    margin: 4rem;
}